{{> doc-head }}
<body>
    {{> header }}

    <main>
        {{{ contents }}}
    </main>

	{{> plantlist }}
	
    {{> footer }}
    
	<!-- fill plant list -->
	<script src="/assets/js/plantlist.js"></script>
	<script>
		loadPlants();
	</script>

</body>
</html>